<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.uan.android.leyarap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--aactividades de ejemplo-->
        <activity android:name=".PensamientosActivityCreadaEjemplo"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".MetasLogrosActivityCreadaEjemplo"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".EstadoAnimoActivityCreadaEjemplo"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MeditacionActivityCreadaEjemplo"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!--aactividades de ejemplo-->

        <activity android:name=".CrearEventoSaludActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ActivityCreadaSalud" />

        <activity android:name=".SaludActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ActivityCreadaPausa" />
        <activity
            android:name=".CrearEventoPusaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PausasActivasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActicity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EncuestaActicity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InicioActicity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>